.about-achivements {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    text-align: center;
  }


.about-achivements h2{
    font-size:  30px;
    font-weight: 700;
    background: linear-gradient( 270deg, #DF8908 50.41%, #B415FF 106.28%) ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .project-item img {
  width: 200px; /* Set a fixed width */
  height: 200px; /* Set a fixed height */
  background-color: white; /* Set the background color to white */
  object-fit: cover; /* Ensures the image covers the area without stretching */
  border: 1px solid #ddd; /* Optional: Add a subtle border */
  padding: 10px; /* Optional: Add padding inside the image container */
  margin-top: 20px;
}

 .about-achivements p{
    font-size: 22px;
    font-weight: 500;
  }
  
  .about-achivement {
    margin-bottom: 40px;
  }
  
  .about-achivement h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  
  
  .about-achivement p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
  }
  

  .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
  }

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  

  .project-item img {
    max-width: 200px; /* Adjust the percentage as needed */
    height:200px;
    margin-top: 20px;
  
}

